@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: rgba(47,47,47,1.00);
    font-weight: 400;
    background-color: #1F355D;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	background: #1b3b6e;
}



h1 {
    font-weight: 800;
    font-size: 28px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    line-height: 36px;
    color: rgba(255,255,255,1.00);
    text-shadow: 0px 0px 0px;
    text-align: left;
    font-style: normal;
    width: 100%;
}

.slider {
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-shadow: 0px 0px 0px;
    -webkit-box-shadow: 0px 0px 0px;
    box-shadow: 0px 0px 0px;
    background-image: url(imgs/IMG_1149.jpg);
}
.historia {
    width: 100%;
    height: 100vh;
    background-image: url(imgs/IMG_10271.png);
    padding-bottom: 10%;
    padding-top: 7%;
    background-attachment: fixed;
    display: table-cell;
    vertical-align: middle;
    background-size: cover;
    background-position: center bottom;
}
.img {
    width: 256px;
    height: 384px;
    float: right;
    margin-right: 15%;
    border-radius: 6px;

}
.textos-01 {
    width: 36%;
    float: left;
    height: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-align: left;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    border-radius: 8px;
    margin-top: 0%;
    margin-left: 11%;
    word-spacing: 2px;
    line-height: 20px;
}
.textos-02 {
    width: 80%;
    float: left;
    height: 60%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: left;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    border-radius: 8px;
    margin-top: 11%;
    margin-left: 11%;
}
.boton {
    margin-top: 20px;
}
.boton a {
    height: 40px;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    border-radius: 4px;
    border: medium solid #FFFFFF;
    text-decoration: none;
    font-style: normal;
}
.boton a:hover  {
    height: 40px;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    font-weight: 900;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
    border-style: solid;
    border-width: medium;
    text-shadow: 0px 0px 15px;
    background-color: rgba(0,0,0,0.50);
}
.btn-ant a {
    height: 40px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    border-radius: 4px;
    border: medium solid #FBFBFB;
    background-color: rgba(0,0,0,0.00);
    text-decoration: none;
    float: left;
    font-style: normal;
}
.btn-ant a:hover  {
    height: 40px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    border-radius: 4px;
    border: medium solid #FFFFFF;
    background-color: rgba(0,0,0,0.50);
    text-decoration: none;
    text-shadow: 0px 0px 15px;
    font-style: normal;
}
.btn-sig a {
    height: 40px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    border-radius: 4px;
    border: medium solid #FBFBFB;
    background-color: rgba(0,0,0,0.00);
    text-decoration: none;
    float: left;
    margin-left: 16px;
    font-style: normal;
}
header {
    width: 90%;
    height: 100px;
    position: fixed;
    z-index: 1;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 25px;
}
.balazo-01 {
    width: 100%;
    color: rgba(255,255,255,1.00);
    position: relative;
    bottom: -68vh;
    background-color: rgba(31,53,93,0.73);
    height: 100px;
    max-width: 360px;
    padding-top: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
    padding-left: 32px;
}
.logo {
    width: 100px;
    height: 65px;
    position: absolute;
    right: 32px;
    top: 13px;
    background-image: url(imgs/Vitronik2%20blanco.png);
    background-repeat: no-repeat;
    background-size: 100px auto;
}
.menu {
    position: relative;
    width: 38vh;
    background-color: rgba(31,53,93,0.75);
    font-family: 'Poppins', sans-serif;
    margin-left: -102%;
    transition: all 0.5s;
    margin-right: 5%;
}

.menu li {
    border-top: 2px solid rgba(255,255,255,0.50);
    height: 50px;
}
#btn-menu:checked ~ .menu {
    margin-left: -2px;
}

.menu li a {
    display: block;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgba(255,255,255,1.00);
    font-weight: 700;
    text-decoration: none;
}
.menu li a:hover  {
    display: block;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgba(31,53,93,1.00);
    font-weight: 700;
    text-decoration: none;
}


.menu ul {
    display: flex;
    flex-direction: column;
}
.contenedor {
    position: relative;
}
footer {
    padding-top: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
    padding-left: 32px;
    width: 100%;
    height: 100vh;
    margin-top: 5vh;
    border-top: 4px solid rgba(60,73,95,0.78);
}
footer h1 {
    font-size: 22px;
	font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}
footer ul {
    margin-top: 32px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
}
footer li {
    height: 40px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
}
.col-01 {
    width: 100%;
    float: none;

    margin-top: 30%;
}
.col-02 {
    width: 100%;
    float: none;
}
.redes {
    width: 50px;
    height: 50px;
    background-size: 50px auto;
    margin-top: 32px;
    display: inline;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 20px;
}
#btn-menu {
    display: none;
}
header label {
    cursor: pointer;
}
.Num {
    text-decoration: none;
}

section 
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1b3b6e;
    margin: 0;
    padding: 0;
}

.container
{
  position: relative;
  width: 95%;
  margin: 100px auto 0;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: auto 1fr auto;
  grid-gap: 20px;
}

.container .card
{
    position: relative;
    width: 300px;
    height: 440px;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    background-color: #1B3B6E;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.5s;
}

.container .card:hover
{
  transform: translateY(-20px);
  box-shadow: 0 20px 20px rgba(0, 0, 0, .2);
}

.container .card .img-box
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.container .card:hover .img-box
{
  opacity: 0.5; 
}

.container .card .img-box img
{
  width: 100%;
}


.container .card .content
{
  position: absolute;
  width: 100%;
  height: 60%;
  bottom: -100%;
  padding: 20px;
  padding-top: 60px;
  box-sizing: border-box;
  text-align: center;
}

.container .card:hover .content
{
  bottom: 0;
}

.container .card:nth-child(1) .content
{
  background: linear-gradient(0deg,  #1b3b6e, transparent);
}

.container .card:nth-child(2) .content
{
  background: linear-gradient(0deg,  #1b3b6e, transparent);
}

.container .card:nth-child(3) .content
{
  background: linear-gradient(0deg,  #1b3b6e, transparent);
}

.container .card:nth-child(4) .content
{
  background: linear-gradient(0deg,  #1b3b6e, transparent);
}

.container .card:nth-child(5) .content
{
  background: linear-gradient(0deg,  #1b3b6e, transparent);
}

.container .card .content h2
{
  margin: 0 0 10px;
  padding: 0;
  color: #fff;
  font-size: 20px;
}

.container .card .content h2 span
{
  color: #035eaeff;
  font-size: 16px;
}

.container .card .content p
{
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 16px;
}


@media (min-width:768px){
footer {
    height: 100%;
}
footer h1 {
    display: block;
}

.col-01 {
    width: 30%;
    margin-top: 0px;
    float: left;
}
.col-02 {
    width: 25%;
    margin-top: 0px;
    float: left;
    margin-left: 56px;
}
.col-02 {
    width: 25%;
    margin-top: 0px;
    float: left;
    margin-left: 56px;
}
.balazo {
    width: 59%;
}
.textos {



}
.boton {
    margin-top: -5px;
}


.balazo-01 {
    width: 56%;
}

.balazo p {
    font-size: 16px;
    line-height: 24px;
}
.btn-ant {
    margin-top: -25px;
}
.textos-01 {
    width: 40%;
    line-height: 20px;

}
.img {
}









}

@media (min-width: 1024px){
.logo {
    left: 32px;
}
.img {
    margin-top: 5vh;

}

.menu {
    position: absolute;
    background-color: rgba(255,0,4,0.00);
    width: 80vmax;
    margin-top: 0px;
    margin-right: 5%;
    margin-left: 5%;
    opacity: 1;
}
.balazo {
    width: 59%;
}

.menu li a {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    z-index: 10;
}


header label {
    display: none;
}
.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    z-index: -9;
}
.menu li {
    border-top-width: 0px;
    border-top-style: none;
}
.btn-ant {
    margin-top: -16px;
}

.boton {
    margin-top: 2px;
}
.Num {
}
.textos-01 {
    width: 40%;
    float: left;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vw;
    text-align: left;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    border-radius: 8px;
    padding-left: 12px;
    margin-left: 11%;
    word-spacing: 2px;
    height: auto;
    font-weight: 300;
    line-height: normal;
}










}

.btn-sig a:hover  {
    height: 40px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    border-radius: 4px;
    border: medium solid #FFFFFF;
    background-color: rgba(0,0,0,0.50);
    text-decoration: none;
    text-shadow: 0px 0px 16px;
    font-style: normal;
}

@media (min-width: 750px){
.textos {
    margin-bottom: 29px;
}
.balazo-01 {
    width: 50vw;
}



}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: rgba(255,255,255,1.00);
}

@media (max-width: 715px){
.textos-01 {
    margin-left: auto;
    padding-left: 0px;
    min-width: 85%;
    margin-right: auto;
    float: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;

}
.historia {
    display: table-cell;
    vertical-align: middle;


}

.img {
    margin-top: 2%;
    width: 0vw;
    min-height: 70vmin;
    min-width: 48vmin;
    height: 0vh;
    margin-right: auto;
    margin-left: auto;
    display: block;
    float: none;
}


}
